{% extends "base.html" %}
{% block title %}
Список продуктов
{% endblock %}
{% block style %}
    {% include "nav_style.html" %}
{% endblock %}
{% block menu %}
    {% include "navigation.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/">назад на главную</a>
    </div>

    <br>
    <br>

    <div>
        <a href="/create-product/?id={{id}}">Создать новый продукт</a>
        <br>
        <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} 
            <!-- <span><a href="/#/">скопировать</a></span> -->
        </li>
        {% endfor %}
    </div>
{% endblock %}